*{
    font-family: Nunito;
}
.crudBtn{
    background: var(--button);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;

}
.icon{
    background: transparent;
    margin: 4px;
    font-size: 20px;
}