*{
    font-family: Nunito;
}
.crudBtn{
    background: var(--button);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 140px;
    margin: 3px;
    height: 44px;

}
.icon{
    background: transparent;
    margin: 4px;
    font-size: 20px;
}
.delete{
    color: var(--button);
    font-size: 24px;
}
.delete:hover{
    cursor: pointer;
}

div > .valueInput{
    width: 320px;
    /* cursor: pointer; */
    /* transform: scale(1, 1); */
    /* transition: transform 0.5s ease; */
}
/* div > .valueInput:hover{
    transform: scale(1.1,1.1)
} */
div > .valueInput:focus{
    box-shadow: none;
}

h6{
    color: var(--button);
    font-weight: bolder;
}
.addBtn{
    background: var(--button);
    width: 100%;
    border: none;
    color: white;
    margin-top: 3vh;
    height: 30px;
    border-radius: 4px;
}
form > div > .form-control:focus{
    box-shadow: none;
}
.modalBody{
    border-radius: 14px;
}
.taskCard{
    background: white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    padding-left: 4vh;
    padding-right: 4vh;
    margin-bottom: 10vh;
}